@import 'tailwindcss';
@import './theme.css';
@import './reset.css';
@import './custom-utilities.css';

@font-face {
  font-family: 'GangwonEducationSaeum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --min-width: 360px;
    --max-width: 430px;
  }

  #root {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: 100dvh;
  }

  html {
    background-color: white;
  }

  html,
  body {
    font-size: 62.5%;
    font-family:
      'Noto Sans KR',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    scrollbar-width: none;
  }

  body {
    background-color: var(--color-background);
  }

  body::-webkit-scrollbar {
    display: none;
  }
}
